.venv/
__pycache__/
*.pyc

.env

.idea/
.vscode/
.spyproject/

.ipynb_checkpoints/

data/raw/
data/processed/
models/

*.joblib
*.pkl
*.keras
*.h5

*.log
/.venv/
/.env

**/__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

/data/raw/*
/data/processed/*

/models/
/artifacts/
/catboost_info/
/ptxas

*.log
